
:root{
    --blue-card: #56ABFF; 
    --blue-logo: #02418E;
    --white-color: #fff;
    --blue-color-escuro-2: #0000004f;
    --form-add: #0f009b;
    --percent-transp: #8d8d8d00;
    --blue-btn: #02418e49;
    --bg-color: #e7ecf0d3;
}