{% extends "base2.html" %}
{% block title %}DashBoard{% endblock %}
{% block content %}
    <style>
        div.formularioConteiner{
            display: flex;
            flex-direction: column;
            width: auto;
            padding: 1em;
            align-items: center;
            align-self: center;
            justify-content: center;
        }
        div.title>h3{
            align-items: center;
            align-self: center;
            justify-content: center;
            color: var(--white-color);
            font-family: 'poppinsBold';
        }
        form{
            align-items: center;
            align-self: center;
            justify-content: center;
            border-radius: 12px;
            background-color: var(--white-color);
            padding: 2em;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        form>div{
            align-items: center;
            align-self: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        div.campos{
            align-items: center;
            align-self: center;
            display: inline-flex;
            gap: 5px;
            padding: 5px 5px 5px 1em;
            border-radius: 120px;
            background-color: var(--blue-card);
            width: 100%;
        }
        div.campos>input{
            border-radius: 120px;
            color: var(--white-color);
            font-weight: 900;
            background-color: transparent;
            border: none;
            padding: 0.90em;
            width: 100%;
        }
        div.campos>input:focus {
            background-color: #ffffff59;
            color: var(--white-color);
            outline: none;
            box-shadow: 0 0 0 2px #ffffff56;
          }
        div.campos>i{
            align-items: center;
            align-self: center;
            justify-content: center;
            padding: 3px;
        }
        i.fas{
            padding: 10px;
            margin: 0 auto;
            color: #fff;
        }
    </style>
    <div class="formularioConteiner">
        <div class="title">
            <h3>Cadastro Professional</h3>
        </div>
        <form action="">
            <div class="inputsconteiner">
                <div class="campos nome">
                    <i class="fas fa-user"></i>
                    {{ form.nome() }}
                </div>
                <div class="campos email">
                    <i class="fas fa-envelope"></i>
                    {{ form.email() }}
                </div>
                <div class="campos localidade">
                    <i class="fas fa-map-marker-alt"></i>
                    {{ form.localidade() }}
                </div>
                <div class="campos service">
                    <i class="fas fa-briefcase"></i>
                    {{ form.service() }}
                </div>
                <div class="campos telefone">
                    <i class="fas fa-phone"></i>
                    {{ form.telefone(class="telefone") }}
                </div>
                <div class="campos senha">
                    <i class="fas fa-lock"></i>
                    {{ form.senha() }}
                </div>
                <div class="campos nascimento">
                    <i class="fas fa-calendar-alt"></i>
                    {{ form.nascimento() }}
                </div>
            </div>
            
        </form>
    </div>
    <script>
        const telefone = document.querySelector('.telefone')
        $(document).ready(function(){
            $('input[type="tel"]').mask('900 000 000');
        });
    </script>
{% endblock%}